# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env.production
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.next

# Local Netlify folder
.netlify
.vscode


.vscode
.python*
db_dumps
fl_scraper/*.html


.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln



dist
build

# python
*.pyc
__pycache__
.pytest_cache
.python_env
.mypy_cache
.python3.9_env/
.python_env/

# misc
# .env  # Just in use for docker container names, there's nothing secret in it
.env.development.local
.env.test.local
.env.production.local


# testing
/coverage

# production
/build

# javascript
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.thumbs.db

# Quasar core related directories
.quasar
/dist

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*-flag.d.ts
.vscode/
